@model Product

<div class="d-flex justify-content-center">
    <h2>Product Details</h2>
</div>

<br />
<br />
<br />


<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id: @Model.Id</h6>        
        <h6 class="card-subtitle mb-2 text-muted">Price: @Model.Price</h6>        
        <h6 class="card-subtitle mb-2 text-muted">Description: @Model.Description</h6>
        <h6 class="card-subtitle mb-2 text-muted">Quantity: @Model.Quantity</h6>
        <h6 class="card-subtitle mb-2 text-muted">Image: @Model.ImagePath</h6>
        <h6 class="card-subtitle mb-2 text-muted">Category: @Model.category.Name</h6>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary mt-4">Back</a>
    </div>
</div>